/* CSS Document */

body {
  scrollbar-face-color: #ffffff;
  scrollbar-highlight-color: #919191;
  scrollbar-3dlight-color: #ffffff;
  scrollbar-shadow-color: #919191;
  scrollbar-darkshadow-color: #ffffff;
  scrollbar-track-color: #ffffff;
  scrollbar-arrow-color: #919191;
}

A:link {
  text-decoration: none;
  color: #515151;
}
A:visited {
  text-decoration: none;
  color: #515151;
}
A:active {
  text-decoration: none;
  color: #515151;
}
A:hover {
  text-decoration: underline;
  color: #4f8800;
}

body,
table,
tr,
td,
select,
input,
div,
form,
textarea {
  font-family: verdana;
  font-size: 9pt;
  line-height: 17pt;
  color: #515151;
}
